#problems{
    background: var(--bg-secondary-color);
}



@media (min-width: 920px){
    .lp-desktop {
        display: flex;
        background: var(--bg-primary-color);
    
    }

    .lp-flex-control {
        display: flex;
        background: var(--bg-primary-color);

    }

    .lp-sbtn-display-control {
        display: none;
    }

    .lp-main-text-video-desktop {
        background: var(--bg-primary-color);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    
    
}


