.lp-schedule-button-container-bg{
    background-color: var(--bg-primary-color);
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
}


.lp-schedule-button-container-bg a {
    background-color : var(--btn-primary-color) ;
    color: white;
}




