footer {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    display: flex;
    height: 60px;
    align-items: center;
}

.lp-footer {
    background-color: var(--bg-primary-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.lp-footer p {
    justify-content: right;
}

.lp-footer-fa {
    padding-top: 5px;
}



