@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background: linear-gradient(135deg, #ffffff, #f0f4f8);
}



/*-----------------------------------------------------------------*/
/* generic styles */

.lp-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.lp-mb20 {
  margin-bottom: 20px;
}

.lp-mt20 {
  margin-top: 20px;
}


@media (min-width: 576px) {
  .lp-container {
    padding: 0 20px;
  }
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.lp-services, .lp-clients {
  animation: fadeIn 5s ease-in-out;
}

.lp-service-card, .lp-client-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.lp-service-card.visible, .lp-client-card.visible {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

.lp-section {
  padding: 100px 20px;
}

.lp-header-nav-links a {
  cursor: pointer;
}


